body{
	background-color: blanchedalmond;
	/* display: grid;
	grid-template-columns: 260px 1fr 200px;
	grid-template-rows: auto auto 1fr;
	grid-template-areas: 
	"header header header"
	"menu content content"
	". content content"
	;
	grid-gap: 1em; */
}
body, .menubox, .content, .header .login{
	box-sizing: border-box;
	margin: 1em;
}
.header{
	grid-area: header;
	background-color: burlywood;
	padding: 1em;
	
	display: table;
	width: 100%;
	box-sizing: border-box; 
	
}
	.header img{
		margin: 1em;
	}
	.login{
		background-color: cadetblue;
		padding: 1em;
		float: right;
	}
.menubox{
	grid-area: menu;
	background-color: burlywood;
	padding: 1em 0;
	min-width: 200px;
	max-width: 10vw;
	height: 350px;
	float: left;
	margin-left: 0;
}
.content{
	grid-area: content;
	background-color: burlywood;
	
	margin-left: 0;
	height: 70vh;
	padding: 1em;
    min-width: 60em;
    float: left;
	width: 60vw;
}